.container {
  flex: 1;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 24px;
  height: 400px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__converter {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    &--from,
    &--to {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__select {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 200px;
    height: 30px;
    color: #fff;
    position: relative;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      margin-right: 10px;
    }

    &__arrow {
      margin-left: auto;
    }

    &__dropdown {
      position: absolute;
      top: 50px;
      left: 10px;
      width: 200px;
      background: rgb(71, 70, 70);
      border-radius: 10px;
      max-height: 200px;
      overflow-y: auto;
      cursor: grab;

      img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }

      &::-webkit-scrollbar {
        width: 8px; // Ширина скроллбара
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05); // Цвет фона трека
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2); // Цвет полосы прокрутки
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.3); // Цвет при наведении
      }
    }
  }

  &__option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &__amountInput {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 14px 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-align: center;
    width: 200px;
    height: 25px;
    font-size: 17px;

    &--spaceBottom {
      margin-bottom: 26px;
    }
  }

  &__minAmount {
    padding-top: 6px;
    color: #cecece;
  }

  &__walletInput {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--sendersWallet,
    &--recipientWallet {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 30px;
      padding: 14px 10px;
      border: none;
      border: none;
      background: rgba(255, 255, 255, 0.1);
      color: #fff;
      text-align: center;
      width: 200px;
      height: 25px;
      font-size: 17px;
    }
  }

  &__saveWallet {
    margin-top: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #ffffff;
    margin-top: 5px;
    font-size: 14px;
    width: 100px;

    &__checkbox {
      width: 5px;
    }
  }

  &__continue-button {
    margin-top: 1rem;

    button {
      width: 160px;
      height: 55px;
      background-color: #ffc107;
      color: #000000;
      border: none;
      border-radius: 20px;
      padding: 14px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s;
      font-size: 17px;
      font-weight: 500;

      &:hover {
        background-color: #ffcd38;
      }
    }
  }
}
