@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.header {
  background-color: #000000;
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__nav {
    margin-left: auto;
    margin-right: 2rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;

    &-icon {
      color: #ffb800;
      margin-right: 0.25rem;
    }
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 2rem;
    }

    &-item {
      position: relative;
    }

    &-link {
      color: #ffffff;
      background: none;
      border: none;
      font-size: 18px;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #ffb800;
      }
    }
  }

  &__register-btn {
    background-color: #ffb800;
    color: #000000;
    border: 2px solid #ffb800;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

    &:hover {
      background-color: transparent;
      color: #ffffff;
      border: 2px solid #ffb800;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__container {
      position: relative;
      justify-content: space-between;
      // padding: 0 1rem;
      gap: 1rem;
    }

    &__nav {
      display: none;
    }

    &__logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      img {
        height: 50px;
        width: auto;
      }
    }

    &__register-btn {
      padding: 0.5rem 1rem;
      font-size: 14px;
      margin-left: auto;
    }
  }
}

@media (max-width: 530px) {
  .header {
    &__container {
      // padding: 0 0.5rem;
    }

    &__logo {
      img {
        height: 39px;
        width: auto;
      }
    }

    &__register-btn {
      padding: 0.5rem 0.7rem;
      font-size: 14px;
      margin-left: auto;
    }
  }
}

@media (max-width: 380px) {
  .header {
    &__container {
      // padding: 0 0.5rem;
    }

    &__logo {
      img {
        height: 32px;
        width: auto;
      }
    }

    &__register-btn {
      padding: 0.4rem 0.8rem;
      font-size: 12px;
    }
  }
}
